# Using Pandas Package

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv(r'C:\Users\Asus\Desktop\Machine Learning Workshop 20\weather_data.csv')

In [7]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [8]:
df.max()

day            1/6/2017
temperature          35
windspeed             7
event             Sunny
dtype: object

In [9]:
df['temperature'].max()

35

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df['temperature'].values

array([32, 35, 28, 24, 32, 31], dtype=int64)

In [12]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [14]:
x = df.iloc[2,:].values
x

array(['1/3/2017', 28, 2, 'Snow'], dtype=object)

In [15]:
x.shape

(4,)

In [16]:
x = df.iloc[:,1:3].values
x

array([[32,  6],
       [35,  7],
       [28,  2],
       [24,  7],
       [32,  4],
       [31,  2]], dtype=int64)

In [17]:
x.shape

(6, 2)